</html>
<body>
<div id="demo">aaa</div>
<script type="text/javascript">
function changeContent()
{
var text = document.getElementById("demo").innerHTML;
var new_text = "";
for (i in text)
{
    var c = text.charCodeAt(i);
    new_text += String.fromCharCode(c+1);
}
document.getElementById("demo").innerHTML=new_text;
}
</script>
<button id="button" type="button" onclick="changeContent()">Click it</button>
</body>
</html>
